*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root{
    --font-family: font-family: "Poppins", sans-serif;
    --content-color: #ffffff;
    --bg-color: #111111;
    --dark-color: #000000;
    --dark-color-opacity: rgba(0, 0, 0, 0.7);

}