.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/bg-image.jpg);
  background-size: cover;
  background-position: center;
  color: var(--content-color);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

.showcase-container > h1 {
  font-weight: 600;
  font-size: 3rem;
  border-bottom: 1.5px solid white;
  margin-bottom: 20px;
}

.showcase-container > p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  color: #eee;

  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: 0.15rem;
  text-align: center;
}
